
Library/ArtifactDB
Library/Artifacts/ef/ef295b7898d3c0b2b332a4c2b2c671d3
Library/ArtifactDB
Library/Artifacts/e3/e301be2da420d6bf1b0424c0295c7b71
Library/Artifacts/de/de9e170275dc3909b16013c76ccc5797
Library/Artifacts/cb/cb9e46b51c99274c944731bb2cb09ce8
Library/Artifacts/70/7028e616dbf15d35e55c955b76280e89
Library/CurrentLayout-default.dwlt
Library/expandedItems
Library/LastSceneManagerSetup.txt
Library/ShaderCache/1/15db2cec72a5e3f885087eeea10ee668.bin
Library/ShaderCache/1/1c2f7fe58ace2f1838394ffe56e4b5d7.bin
Library/ShaderCache/1/10a833af723578a7c3fcab1cd14cdf90.bin
Library/ShaderCache/4/4a7faf8739fb6e142e5597489f34b76a.bin
Library/ShaderCache/4/4d7ac605d6b0efa481b17ddc63119535.bin
Library/ShaderCache/5/50c44784878230759138a7e0a96a41a0.bin
Library/ShaderCache/5/59daa4bafea8be2f3023f5410a805cf8.bin
Library/ShaderCache/6/6695ea73ba35057b00a447e2330416e7.bin
Library/ShaderCache/9/978719d9a4732ac152a5960a6de41255.bin
Library/ShaderCache/9/9ac9ed7756457b08f51f18eb3ce24f2c.bin
Library/ShaderCache/e/e8e02af3ff7bca076f2f21b82aee6120.bin
Library/ShaderCache/EditorEncounteredVariants
Library/ShaderCache/f/fbe3be8dca98a7a8e37cad41f53b905b.bin
Library/shadercompiler-UnityShaderCompiler.exe1.log
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/shadercompiler-UnityShaderCompiler.exe3.log
Library/shadercompiler-UnityShaderCompiler.exe4.log
Library/shadercompiler-UnityShaderCompiler.exe5.log
Library/shadercompiler-UnityShaderCompiler.exe6.log
Library/SourceAssetDB
Library/StateCache/SceneView/67fec9-mainStage.json
