Library/
Temp/
ProjectSettings/ProjectSettings.asset
ProjectSettings/ProjectVersion.txt
ProjectSettings/UnityConnectSettings.asset
Packages/manifest.json
Packages/manifest.json
Logs/Packages-Update.log
